
@{
    ViewBag.Title = "Odhlášení";
}

<h2>Odhlášení proběhlo úspěšně</h2>

Dnes jste odpracoval @ViewBag.Time <br />
Celkově jste si vydělal @ViewBag.Paid Kč. <br />
Na kontě máte celkem @ViewBag.WageToPaid Kč.<br />
Datum @ViewBag.Date


